@use '../../style' as s;

.library {
  display: flex;
  justify-content: space-between;

  &__images {
    display: flex;
    gap: s.space(5);
  }

  &__playlists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: s.space(8);

    &--item {
      display: grid;
      gap: s.space(2);
      justify-content: center;
      justify-items: stretch;
    }
  }

  &__message {
    font-size: 20px;
    font-weight: 400;
  }
}

.title {
  font-size: 40px;
  align-self: center;
  color: s.color(title);
  font-weight: 500;
}

.playlist__name {
  color: s.color(light);
  font-size: 20px;
  font-weight: 400;
}

.playlist__tracks {
  color: s.color(text);
  font-size: 16px;
  font-weight: 400;
}
