{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class='main'>
    {{#with data}}
    <div class='main__content'>
        <div class='library'>
            <h1 class='title title--center'>My Playlists</h1>
            <div class='library__images'>
                <a href='/spotify-search'><img src='/svg/search.svg' alt='search' /></a>
                <a href='/spotify-choose'><img src='/svg/addPlaylist.svg' alt='add' /></a>
            </div>
        </div>

        <div class='library__playlists'>
            {{#if playlist}}
            {{#each playlist}}
            <a href="/spotify-playlist?id={{id}}">
                <div class='library__playlists--item'>
                    <img src='https://picsum.photos/id/237/200/200' alt='logo' height="200px" />
                    <div class='playlist__name'>{{name}}</div>
                    <div class='playlist__tracks'>{{tracks.length}} tracks</div>
                </div>
            </a>
            {{/each}}
            {{else}}
            <div class="library__message">Add new playlists</div>
            {{/if}}
        </div>
        {{/with}}
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}