@use '../../style' as s;

.header {
  display: flex;
  justify-content: flex-end;
}

.title--small {
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  align-items: center;
}

.form__field {
  width: 100%;
  font-size: 64px;
  color: s.color(light);
  text-align: center;
  padding: s.space(4);
  border-bottom: 1px solid s.color(border);
}

.form__button {
  color: s.color(dark);
  background-color: s.color(button);
  max-width: fit-content;
  font-size: 20px;
  padding: s.space(3) s.space(10);
  border-radius: 50px;

  transition: opacity 0.6s;

  &:hover {
    opacity: 0.6;
  }
}
