$colorMap: (
  dark: #121212,
  light: #ffffff,
  title: #fffefe,
  text: #bdbdbd,
  button: #20d562,
  button-text: #121212,
  author: #bababa,
  border: #808080,
);

@function color($key) {
  @return map-get($colorMap, $key);
}
